<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         
        span{ font-size: 30px}
    </style>
</head>
<body>
    <a href="{% url 'calccalories:index'%}">CalcCalories</a>-
    <a href="{% url 'calccalories:foods'%}">Foods</a>-
    <a href="{% url 'calccalories:exercises'%}">Exercises</a>
    {%if user.is_authenticated%}
    <hr>
    <form action="{% url 'users:logout'%}" method="post">
        {%csrf_token%}
        <button name="submit">Logout</button>
    </form>
    {%else%}
        <a href="{% url 'users:login'%}">Log in</a>-
        <a href="{% url 'users:register'%}">Register</a>
    {%endif%}
    {%block content%}{%endblock%}
</body>
</html>