<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises Page</title>
</head>
<body>
    {%extends "calccalories/base.html"%}
    {%block content%}
    <h1 class="header">This is the list of exercises for you. In which one of them have you managed to engage today?</h1>
    <ul class="list">
        <div class="binding">
        {%for exercise in exercises%}
        <div class="main">
            <button><li class="item"><a href="{% url 'calccalories:exercise' exercise.id%}"><span>{{exercise}}-    {{exercise.calory}}calories/minute</span></a></li></button>
            <button class="edit"><a href="{% url 'calccalories:edit_exercise' exercise.id %}">Edit exercise</a></button>
            <button class="delete"><a href="{% url 'calccalories:check_delete_exercise' exercise.id %}">Delete {{exercise}} from the list</a></button>
        </div>
            {%if exercise.delete_exercise%}
            <h3>Are you sure you want to delete {{exercise.name}} from your exercise list?</a>
            <a class="yes" href="{% url 'calccalories:delete_exercise' exercise.id%}">Yes</a>
            <a class="cancel" href="{% url 'calccalories:do_not_delete_exercise' exercise.id%}">Cancel</a>
            {%endif%}
            <br><br><br>
            {%empty%}
                <h2>First you gotta add some food lists</h2>
        {%endfor%}
        <h1 class="add_question">If you do not see the exercise you engaged today in the list and if you know the calorie burn per minute for it, you can add it in the list</h1>
        <button><a href="{% url 'calccalories:new_exercise'%}">Add new exercise</a></button>
        <form action="{% url 'calccalories:report'  %}" method="post">
            {% csrf_token %}
            <button class="calculate" type="submit">Calculate</button>
        </form>
    </div>
    </ul>
    {%endblock%}
</body>
</html>