<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New food Page</title>
</head>
<body>
    {%extends "CalcCalories/base.html" %}
    {%block content%}
    <h1>Enter the name of the food and its calorie value per unit you want to calculate it with</h1>
    <form action="{% url 'calccalories:new_food'%}" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button name="submit">Done</button>
    </form>
    {%endblock%}
</body>
</html>